ColumnLimit: 80
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInConditionalStatement: false
SpacesInParentheses: false
BreakBeforeBraces: Attach
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
SpaceBeforeAssignmentOperators: true
PenaltyBreakComment: 80
PenaltyBreakFirstLessLess: 120
PenaltyExcessCharacter: 100
AlignConsecutiveAssignments: false
AlignEscapedNewlines: Right
AlignTrailingComments: true
